In [1]:
# Import the dependencies.
import pandas as pd
import requests

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bandarbeyla,SO,2021-04-20 19:48:42,9.4942,50.8122,82.11,76,100,8.23
1,1,Mar Del Plata,AR,2021-04-20 19:45:00,-38.0023,-57.5575,69.80,78,20,19.57
2,2,Rikitea,PF,2021-04-20 19:48:42,-23.1203,-134.9692,77.49,73,59,5.28
3,3,Bhachau,IN,2021-04-20 19:48:43,23.2833,70.3500,80.53,48,71,7.81
4,4,Olafsvik,IS,2021-04-20 19:44:03,64.8945,-23.7142,39.90,74,36,11.16

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
temps

[82.11,
 69.8,
 77.49,
 80.53,
 39.9,
 42.8,
 50.41,
 65.88,
 66.2,
 77.0,
 39.0,
 39.2,
 78.8,
 66.47,
 63.21,
 91.4,
 59.0,
 88.32,
 73.99,
 71.6,
 63.0,
 30.67,
 5.36,
 77.0,
 67.14,
 59.04,
 54.0,
 57.2,
 41.0,
 80.69,
 26.6,
 41.0,
 82.72,
 59.47,
 80.6,
 75.92,
 79.68,
 54.0,
 76.51,
 63.0,
 51.01,
 46.4,
 81.45,
 24.8,
 48.2,
 0,
 21.2,
 80.51,
 78.8,
 37.4,
 0,
 69.94,
 75.15,
 68.0,
 50.0,
 38.35,
 77.0,
 62.49,
 78.01,
 76.64,
 57.2,
 51.01,
 85.03,
 57.99,
 50.0,
 45.93,
 31.89,
 66.72,
 59.92,
 51.8,
 77.18,
 46.99,
 82.0,
 57.69,
 6.8,
 78.8,
 0,
 49.87,
 91.2,
 60.8,
 68.07,
 69.8,
 47.93,
 69.8,
 25.48,
 82.0,
 39.2,
 71.51,
 68.0,
 67.93,
 80.6,
 42.19,
 73.17,
 86.0,
 79.81,
 80.6,
 61.45,
 37.0,
 95.16,
 91.98,
 34.63,
 29.88,
 68.9,
 86.0,
 76.39,
 15.62,
 75.99,
 41.0,
 63.05,
 63.37,
 32.0,
 46.56,
 60.01,
 58.28,
 73.4,
 55.63,
 53.01,
 40.6,
 42.8,
 70.02,
 77.0,
 80.6,
 77.22,
 63.0,
 69.8,
 0,
 64.0,
 82.4,
 75.2,
 56.16,
 16.9,
 54.0,
 18.68,
 50.0,
 39.0,
 38.62,
 74.57,
 68.0,
 57.2,
 82.4,
 69.8,
 40.32,
 68.0,
 57.2,
 79.45,
 64.15,
 39.27,
 73.4,
 46.58,
 0,
 33.17,
 69.76,
 76.91,
 52.23,
 84.2,
 48.43,
 2.98,
 46.4,
 25.41,
 44.6,
 39.0,
 79.25,
 71.55,
 57.65,
 75.2,
 90.99,
 61.3,
 77.0,
 73.49,
 55.89,
 14.0,
 58.5,
 55.4,
 81.05,
 17.92,
 76.37,
 35.98,
 48.2,
 34.75,
 41.0,
 84.2,
 41.0,
 35.6,
 77.0,
 78.4,
 75.72,
 65.53,
 67.3,
 10.85,
 63.0,
 46.0,
 34.0,
 76.75,
 61.43,
 75.65,
 41.0,
 79.0,
 45.61,
 42.8,
 34.93,
 15.62,
 19.4,
 90.23,
 39.0,
 66.74,
 17.24,
 87.08,
 63.0,
 64.4,
 69.8,
 64.4,
 51.8,
 73.35,
 35.6,
 50.0,
 81.03,
 53.01,
 78.33,
 69.8,
 23.68,
 80.01,
 68.0,
 79.83,
 78.57,
 23.72,
 81.1,
 66.31,
 14.58,
 63.21,
 12.2,
 69.94,
 0,
 86.0,
 78.8,
 61.47,
 51.8,
 68.86,
 47.64,
 50.0,
 82.38,
 9.86,
 82.4,
 26.6,
 69.8,
 37.62,
 62.78,
 55.99,
 84.2,
 46.4,
 29.46,
 71.08,
 15.06,
 68.0,
 53.6,
 57.99,
 71.01,
 73.99,
 50.0,
 80.6,
 38.91,
 44.6,
 57.0,
 71.6,
 84.2,
 87.01,
 75.69,
 0,
 91.4,
 81.9,
 57.2,
 79.43,
 51.01,
 55.0,
 33.8,
 58.37,
 84.0,
 77.0,
 81.0,
 39.02,
 41.54,
 44.01,
 28.4,
 78.8,
 55.4,
 82.99,
 77.0,
 73.0,
 61.7,
 36.25,
 73.4,
 37.99,
 44.6,
 83.39,
 75.0,
 82.35,
 64.0,
 88.11,
 73.4,
 4.68,
 13.6,
 11.48,
 84.25,
 87.8,
 68.13,
 65.21,
 81.99,
 91.0,
 23.18,
 77.0,
 59.0,
 34.23,
 61.36,
 86.0,
 91.04,
 53.6,
 35.24,
 82.18,
 72.72,
 48.0,
 89.58,
 46.0,
 73.24,
 78.13,
 75.2,
 36.91,
 75.2,
 67.68,
 77.0,
 95.47,
 57.2,
 55.71,
 82.04,
 82.4,
 72.0,
 56.16,
 80.38,
 64.99,
 37.4,
 67.42,
 38.64,
 79.39,
 46.4,
 73.4,
 79.36,
 80.6,
 39.06,
 71.11,
 43.0,
 53.67,
 82.04,
 35.6,
 53.6,
 35.6,
 43.0,
 89.42,
 80.53,
 73.4,
 57.0,
 63.0,
 19.4,
 62.6,
 82.99,
 73.4,
 81.82,
 39.99,
 76.55,
 52.48,
 47.57,
 37.4,
 82.99,
 84.2,
 68.0,
 35.6,
 52.0,
 79.86,
 63.41,
 16.86,
 80.46,
 32.0,
 73.99,
 75.2,
 0,
 68.0,
 69.4,
 82.99,
 73.83,
 48.0,
 68.95,
 46.4,
 55.4,
 86.0,
 75.2,
 81.12,
 42.8,
 83.28,
 81.68,
 46.4,
 57.0,
 48.2,
 39.2,
 90.18,
 82.4,
 39.94,
 69.8,
 41.4,
 64.4,
 30.97,
 59.0,
 62.31,
 86.0,
 64.4,
 79.84,
 32.4,
 69.8,
 33.64,
 39.2,
 57.0,
 41.59,
 63.75,
 16.36,
 69.69,
 35.06,
 80.6,
 82.08,
 28.4,
 70.81,
 64.99,
 80.85,
 39.2,
 78.8,
 57.0,
 19.83,
 55.4,
 81.39,
 52.9,
 78.31,
 60.98,
 78.67,
 37.99,
 81.82,
 83.41,
 55.99,
 86.0,
 84.2,
 62.01,
 64.4,
 84.2,
 46.15,
 40.41,
 53.6,
 72.0,
 64.0,
 66.2,
 84.2,
 42.75,
 35.67,
 72.72,
 64.4,
 70.72,
 57.99,
 66.2,
 91.4,
 78.01,
 83.23,
 39.0,
 89.6,
 69.8,
 78.66,
 60.01,
 75.74,
 41.0,
 65.57,
 50.0,
 41.0,
 80.78,
 77.5,
 84.2,
 39.2,
 50.0,
 66.83,
 75.2,
 57.2,
 63.37,
 53.6,
 69.01,
 94.48,
 81.95,
 52.95,
 91.99,
 46.4,
 46.4,
 44.6,
 81.05,
 59.0,
 66.0,
 37.4,
 69.01,
 70.75,
 36.59,
 75.2,
 57.78,
 52.0,
 47.03,
 84.2,
 37.4,
 69.98,
 41.0,
 73.09,
 25.86,
 57.43,
 54.0,
 57.2,
 97.27,
 89.78,
 19.4,
 68.0,
 80.38,
 78.8,
 73.99,
 17.6,
 69.24,
 86.29,
 39.0,
 51.8,
 52.0,
 72.0,
 55.4,
 83.91,
 90.59,
 77.0,
 80.11,
 46.89,
 50.0,
 73.4,
 88.29,
 55.0,
 34.47,
 73.4,
 51.01,
 75.2,
 46.2,
 35.6,
 34.0,
 77.11,
 77.0,
 53.6,
 73.99,
 75.34,
 77.59,
 29.01,
 69.93,
 79.97,
 82.4,
 76.48,
 64.0,
 37.4,
 62.01,
 84.2,
 41.0]

In [5]:
# Import the API key.
from config import g_key
import gmaps

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
# Added .dropna() after creation of data frame to take care of the one null value 

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bandarbeyla,SO,2021-04-20 19:48:42,9.4942,50.8122,82.11,76,100,8.23
2,2,Rikitea,PF,2021-04-20 19:48:42,-23.1203,-134.9692,77.49,73,59,5.28
3,3,Bhachau,IN,2021-04-20 19:48:43,23.2833,70.3500,80.53,48,71,7.81
9,9,Souillac,MU,2021-04-20 19:48:44,-20.5167,57.5167,77.00,94,75,5.99
12,12,Buraydah,SA,2021-04-20 19:48:45,26.3260,43.9750,78.80,31,0,3.44
17,17,Atar,MR,2021-04-20 19:48:47,20.5169,-13.0499,88.32,11,57,7.76
23,23,Mahebourg,MU,2021-04-20 19:48:48,-20.4081,57.7000,77.00,94,75,6.55
29,29,Port Blair,IN,2021-04-20 19:45:15,11.6667,92.7500,80.69,73,23,1.83
32,32,Bac Lieu,VN,2021-04-20 19:48:51,9.2850,105.7244,82.72,75,100,8.34
34,34,Cayenne,GF,2021-04-20 19:45:31,4.9333,-52.3333,80.60,78,75,8.05

In [12]:
# Find if there are any null numbers in the dataframe
preferred_cities_df.count()

City_ID       160
City          160
Country       160
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0   Bandarbeyla      SO     82.11   9.4942   50.8122
2       Rikitea      PF     77.49 -23.1203 -134.9692
3       Bhachau      IN     80.53  23.2833   70.3500
9      Souillac      MU     77.00 -20.5167   57.5167
12     Buraydah      SA     78.80  26.3260   43.9750
17         Atar      MR     88.32  20.5169  -13.0499
23    Mahebourg      MU     77.00 -20.4081   57.7000
29   Port Blair      IN     80.69  11.6667   92.7500
32     Bac Lieu      VN     82.72   9.2850  105.7244
34      Cayenne      GF     80.60   4.9333  -52.3333

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping")

Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping
Hotel not found ... skipping

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Bandarbeyla,SO,82.11,9.4942,50.8122,JABIR HOTEL
2,Rikitea,PF,77.49,-23.1203,-134.9692,Pension Maro'i
3,Bhachau,IN,80.53,23.2833,70.3500,Amrut Bagh Resort
9,Souillac,MU,77.00,-20.5167,57.5167,Shanti Maurice Resort & Spa
12,Buraydah,SA,78.80,26.3260,43.9750,فندق راحة السلام
17,Atar,MR,88.32,20.5169,-13.0499,Oumou Elghoura
23,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
29,Port Blair,IN,80.69,11.6667,92.7500,Welcomhotel Bay Island Port Blair
32,Bac Lieu,VN,82.72,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
34,Cayenne,GF,80.60,4.9333,-52.3333,Hôtel Le Dronmi

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))