## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import matplotlib.pyplot as plt

# Import API key
from config_chall_Copy2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Make sure to run in terminal to turn on gmaps dependencies so figures load
#jupyter nbextension enable --py --sys-prefix widgetsnbextension
#jupyter nbextension enable --py --sys-prefix gmaps

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation_Copy1.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Avarua,CK,80.60,light rain,-21.2078,-159.7750,Paradise Inn
1,6,Namibe,AO,81.05,scattered clouds,-15.1961,12.1522,Hotel Chik Chik Namibe
2,15,Omboue,GA,78.94,overcast clouds,-1.5746,9.2618,Hotel Olako
3,23,Atuona,PF,80.49,clear sky,-9.8000,-139.0333,Villa Enata
4,24,Isangel,VU,86.00,broken clouds,-19.5500,169.2667,Tanna Lodge

In [4]:
vacation_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

locations.head()

       Lat       Lng
0 -21.2078 -159.7750
1 -15.1961   12.1522
2  -1.5746    9.2618
3  -9.8000 -139.0333
4 -19.5500  169.2667

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] <= "San Patricio") & \
                                 (vacation_df["City"] >= "San Patricio")].dropna()

vacation_end = vacation_df.loc[(vacation_df["City"] <= "San Patricio") & \
                               (vacation_df["City"] >= "San Patricio")].dropna()

vacation_stop1 = vacation_df.loc[(vacation_df["City"] <= "San Antonio") & \
                                 (vacation_df["City"] >= "San Antonio")].dropna()

vacation_stop2 = vacation_df.loc[(vacation_df["City"] <= "Ojinaga") & \
                                 (vacation_df["City"] >= "Ojinaga")].dropna()

vacation_stop3 = vacation_df.loc[(vacation_df["City"] <= "Caborca") & \
                                 (vacation_df["City"] >= "Caborca")].dropna()
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
27,95,San Patricio,US,80.6,clear sky,28.017,-97.5169,"Motel 6 Sinton, TX"

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat", "Lng"]].to_numpy()[0])
# To shift the start over slightly so start and end don't completely overlap
start = (start[0]+.1,start[1]+.1)
end = tuple(vacation_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

print(start, end, stop1, stop2, stop3)

(28.117, -97.41690000000001) (28.017, -97.5169) (29.4241, -98.4936) (29.5667, -104.4167) (30.5838, -111.101)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

waypoints = [stop1, stop2, stop3]

fig2 = gmaps.figure(center=(29.5667, -104.4167), zoom_level=6)

directions_layer = gmaps.directions_layer(start, end, waypoints=waypoints, travel_mode='DRIVING', optimize_waypoints=True)

fig2.add_layer(directions_layer)

fig2

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3,],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,95,San Patricio,US,80.6,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
1,652,San Antonio,US,84.2,scattered clouds,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
2,395,Ojinaga,MX,82.4,clear sky,29.5667,-104.4167,Suites Las Palmas
3,715,Caborca,MX,90.0,broken clouds,30.5838,-111.1010,Hotel Los Lagos

In [11]:
# Checking names ID's and Data Types for following code segment
itinerary_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [12]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

hotel_info

['\n<dl>\n<dt>City</dt><dd>San Patricio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Description</dt><dd>clear sky</dd>\n<dt>Max Temp</dt><dd>80.6 Â°F</dd>\n<dt>Hotel Name</dt><dd>Motel 6 Sinton, TX</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>San Antonio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Description</dt><dd>scattered clouds</dd>\n<dt>Max Temp</dt><dd>84.2 Â°F</dd>\n<dt>Hotel Name</dt><dd>Drury Plaza Hotel San Antonio Riverwalk</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>Ojinaga</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Description</dt><dd>clear sky</dd>\n<dt>Max Temp</dt><dd>82.4 Â°F</dd>\n<dt>Hotel Name</dt><dd>Suites Las Palmas</dd>\n</dl>\n',
 '\n<dl>\n<dt>City</dt><dd>Caborca</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Current Description</dt><dd>broken clouds</dd>\n<dt>Max Temp</dt><dd>90.0 Â°F</dd>\n<dt>Hotel Name</dt><dd>Hotel Los Lagos</dd>\n</dl>\n']

In [13]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig3 = gmaps.figure(center=(29.5667, -104.4167), zoom_level=6)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig3.add_layer(marker_layer)

# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))